/*/////////////////////////////////////////////*/
				/* MENU-ITEMS */
/*/////////////////////////////////////////////*/

.menu-items-container{

	width: 100%;
	height: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

.food-item{

	height: 18%;
	width: 97%;
	margin: 5px auto;
	display: table;
	color: $green;

	.image{
		display: table-cell;
		height: 99%;
		vertical-align: middle;
		width: 23%;
		border: solid 1px $green;
	}

	.information{
		display: table-cell;
		height: 100%;
		width: 67%;
		p{
			padding-right: 5px;
		}
		.title{
			display: table;
			height: 30%;
			width: 100%;
			p{
				display: table-cell;
				vertical-align: middle;
				font-weight: bold;
				font-size: 70%;
			}
		}
		.description{
			display: table;
			height: 70%;
			width: 100%;
			p{
				display: table-cell;
				vertical-align: middle;
				font-size: 70%;
			}
		}
	}

	.price{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		height: 100%;
		width: 10%;
		p{
			font-size: 70%;
			color: $price-color;
		}
	}

}